

.box {
    background-color: white;
    height: 25em;
    width: 30em;
    margin: auto;
    margin-top: 4em;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    

}

.cabeçalho {
    background-color: lightslategrey;
    height: 3em;
    width: 30em;
    border-color: rgb(0, 0, 0);
    border-style:inset;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-width: 1px;
 
}


.historico {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2em;
}



.tudo {
    position: relative;
    min-height: 21.93em;
    background-color: rgb(255, 140, 0);
    width: 30em;


}

.texto {
    background-color: rgb(255, 255, 255);
    height: 2em;
    width: 30em;
    margin-top: auto;
    margin-left: 0.545em;
    margin-bottom: auto;
    border-radius: 1em;
    border-style: none;
    
}

.botao {
    font-size: 0.5em;
    width: 6em;
    height: 3em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    border-radius: 2em;
    border-width: 1px;
    transition-duration: 0,4s;
}

.botao:hover {
    background-color: rgb(183, 227, 255);
}
.botao:active {
    background-color: lightskyblue;
}


.botaoEditar {
    background-color: light;
}

.botaoExcluir {
    background-color: lightcoral;
    

}

.mensagens {
    background-color: white;
    min-height: 15em;
    width: 100% ;
    height: 21.84em;
    z-index: 1;
}

.footer {
    background-color: rgb(162, 170, 178) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(0, 0, 0);
    border-style:solid;
    border-width: 1px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    position: absolute;
    bottom: 0%;
    width: 100%;
}